<!DOCTYPE html>
<html>
    <head>
        <title>Darigan Development</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="https://www.github.com/AlexDarigan"><img id="github" alt="Github" src="/images/GitHub-Mark-64px.png"></a></li>
                <li><a href="https://www.linkedin.com/in/david-darigan-211b0a1b8/"><img id="linkedin" alt="Linked In" src="/images/linkedinlogo.png"></a></li>
                <li><a href='https://ko-fi.com/Q5Q51D9K5' target='_blank'><img id="kofi" src='https://cdn.ko-fi.com/cdn/kofi2.png?v=3' alt='Buy Me a Coffee at ko-fi.com' /></a></li>
            </ul>
        </nav>
        <br>

        <center>
        <table style="height: 200px; width: 800px;">
            <tr>
        <td><a href="https://github.com/AlexDarigan/WAT"><img class="project" src="images/WAT.png"></a></td>
        <td><a href="https://github.com/AlexDarigan/RemoteCaller"><img class="project" src="images/RemoteCaller.png"></a></td>
        <td><a href="https://github.com/AlexDarigan/CA3"><img class="project" src="images/JavaCrud.png"></a></td>
            </tr>
        </table>
        <br><br>
        <p style="font-size: large; width: 500px;">
            Experienced with C#, F#, Java, GDScript, Godot Engine, Maven, HTML, Javascript, Node, SQL, PHP and always
            curious to learn more! Studying Software Development at South East Technology University Ireland.
        </p>
        </center>

    </body>
</html>