<html>
    <head>
        <title>Darigan Dev</title>
        <script src="/js/button.js"></script>
        <link href="/css/nav.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%-include("nav")%>
        <h1>Hello World!</h1>
        <button id="myButton" onclick="onButtonPressed();">Clicked 0 Times</button>
    </body>
</html>